body{
    background-color: #be2ed6;
}

a{
    color: white;
    font-size: 40px;
    margin-right: 10px;
}

nav{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img{
    width: 300px;
}

#search{
    margin-top: 10px;
    width:400px;
    height: 30px;
    border-radius: 20px;
}

.button{
    margin-top: 20px;
}

.table1,th,td{
    color:white;
    border:1px solid white;
    text-align: center;
    margin: auto;
    
}
th,td{
    padding: 10px;
}

h1,ol{
    color: white;
    text-align: center;
}
.Weebimg{
    width: 600px
}
.Ayan{
    width: 100px
}
.FSearch{
    margin: center;
    align-items: center;
}